<% include partials/header %>

<div class="container">
  <h1 class="title">Should You Care About Barbados' Weather Right Now?</h1>
</div>
<script>
  var body = document.querySelector("body");
    body.style.backgroundImage = "linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) ,url('<%=wallpaper.urls.small %>')";
</script>

  <div class="container weather-info">
    <div class="row">
      <div class="column col-md-12">
      <%if(weatherAlert.includes("THERE ARE NO WATCHES OR WARNINGS AT THIS TIME") || weatherAlert.includes("DISCONTINUED")){ %>
        <h1 class="alert-status">No,</h1>
        <h4>
          there are no weather warnings/watches or systems currently being tracked. Please follow this
          <a href="http://barbadosweather.org/MT-Warnings-tbpb.php?PlanetOfApes=1535053692" target="_blank">link</a> for more
          info.
        </h4>
      <% } else { %>
        <h1 class="alert-status">Yes,</h1>  
        <h4>
        there is either a weather warning/watch or a system is being tracked. Please follow this 
        <a href="http://barbadosweather.org/MT-Warnings-tbpb.php?PlanetOfApes=1535053692" target="_blank">link</a> for more info.
        </h4>       
      <% } %>
        <h2>
          Weather conditions in <span class="highlight"><%= weather.name %>, Barbados</span> as of <%= unixDate.toDateString();%>, <%= unixDate.toLocaleTimeString('en-US', {timeZoneName: 'short'});%>:
          <span class="highlight"><%=weather.main.temp%>°C with <%=weather.weather[0].description %></span>.
          <img src="http://openweathermap.org/img/w/<%=weather.weather[0].icon%>.png" alt="">
        </h2>
      </div>
    </div>
  </div>

<% include partials/footer %>
